*{
    margin: 0;
    padding: 0;
}

header{
    background-color: beige;  
    text-align: center;
}

h1{
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 30px;
}

.links{
    display: inline-block;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: bolder;
}

main{
    text-align: center;
    margin: 20px;
}

main img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: inline-block;    
}

h2{
    display: inline-block;
    font-size: 20px;
}




