*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(182, 60, 60, 0.767);  
    text-align: center;
}

h1{
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 30px;
}

.links{
    display: inline-block;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: bolder;
}

body{
    background-color: #fde6a0be;
}

main{
    text-align: center;
    margin: 20px;
    color: #2E2E2E;  
}

main img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: inline-block;  
       
}


h2{
    display: inline-block;
    font-size: 20px;
    
}

main ul{
    text-align: left;  
    background-color: #cbb67c69;  
    padding: 0px 30px 0px;  
    margin: 10px 0px 10px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
}

li{
    padding: 5px;     
}

.precio{
    text-align: right;
    border-bottom: 2px solid black;    
}

footer{
    padding: 20px;
    background-color: rgba(182, 60, 60, 0.767);
    text-align: center;
}

footer p{
    display: inline-block;
    margin: 5px;
}

footer .correo{
    display: inline-block;
    margin: 5px;
}






